{% extends 'base.html' %}

{% block content %}

{% include 'nav.html' %}


<div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="container">

        <div class="inner cover">
          <h1 style="padding: 2ch;">My blog about us page.</h1>
          <p class="lead" style="margin-bottom: 5ch;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium ac lorem nec finibus. Vestibulum mi metus, placerat nec vehicula quis, gravida sit amet arcu. Donec scelerisque, velit id posuere vulputate, elit tellus egestas purus, ac commodo urna elit eu ipsum. Maecenas imperdiet molestie magna, eu tempus nibh porta quis. Phasellus dui mi, sodales sed metus a, egestas sollicitudin magna. Pellentesque rutrum, mauris eu ornare molestie, lectus purus gravida eros, varius blandit diam turpis vel ex. Nulla ut risus id tellus molestie imperdiet. Quisque molestie eget turpis nec molestie. Morbi fringilla, lorem id feugiat porta, felis ipsum congue eros, id lobortis ipsum massa in velit. Vivamus aliquet a nisi eget tempus.

            Nullam eu tortor sit amet nunc gravida scelerisque. Donec tincidunt tortor lorem, vitae pellentesque nisi egestas vel. Aenean a facilisis dolor. Sed vulputate purus in rutrum ullamcorper. Sed auctor imperdiet purus, ut maximus enim condimentum non. Nulla venenatis vel turpis eget cursus. Aliquam non auctor tortor, eu posuere turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec fermentum et orci non tristique. Donec pulvinar ac nisl vel tincidunt.
            
          </p>

              <a href="/blog" class="btn btn-primary">See posts</a>

        </div>

      </div>

    </div>

  </div>

{% endblock %}