{% extends 'base.html' %}

{% block content %}

  {% include 'nav.html' %}

  <div class="containter" style="text-align-last: center;">
  <div style="display: inline-block;">
      <h1 style="text-align:center;">Your posts</h1>
  </div>
  <div style="display: inline-block;margin-left: 20px;">
    <a href="/blog/add-post/" class="btn btn-primary">Add new post</a>
  </div>
</div>

  <div class="container"  style="padding: 2ch;">
  
    {% for post in posts %}
    {%if post.author == request.user %}
    
    <div class="card"  style="padding: 5ch;">
    <div class="card text-center">
      <div class="card-header">
        Your post
      </div>
      
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">....</p>
        <a href="/blog/{{post.id}}" class="btn btn-primary">Read</a>

        <a href="/blog/edit-post/{{post.id}}" class="btn btn-primary">Edit</a>

          <a href="/blog/delete/{{post.id}}" class="btn btn-primary" onclick="return confirm('Are you sure?')" >Delete</a>

      </div>
      <div class="card-footer text-muted">
        {{post.created}}
      </div>
    </div>
  </div>
    {%endif%}
    {% endfor %}
  </div>

{% endblock %}



