{% extends 'base.html' %}

{% block content %}

  {% include 'nav.html' %}
  
    <h1>Your posts</h1>
    <a href="/blog/add-post/" class="btn btn-primary">Add new post</a>

    <form action="search/" method="get" class ="d-flex">
      <input name="q" type="text" placeholder="Search...">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    
    {% for post in posts %}
    {%if post.author == request.user %}
    <div class="card text-center">
      <div class="card-header">
        Your post
      </div>
      
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">....</p>
        <a href="/blog/{{post.id}}" class="btn btn-primary">Read</a>

        <a href="/blog/edit-post/{{post.id}}" class="btn btn-primary">Edit</a>

          <a href="/blog/delete/{{post.id}}" class="btn btn-primary" onclick="return confirm('Are you sure?')" >Delete</a>

      </div>
      <div class="card-footer text-muted">
        {{post.created}}
      </div>
    </div>
    {%endif%}
    {% endfor %}


{% endblock %}