{% extends 'base.html' %}

{% block content %}

  {% include 'nav.html' %}
    


<div class="container"></div>

<div class="card"  style="padding: 5ch;">
  <div class="card text-center">
    <div class="card-header">
      Add new post
    </div>
    <div class="card-body">
      <form action="" method="POST">
  
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Save">
    
      </form>

    </div>
    <div class="card-footer">
      <a href="/accounts/profile" class="btn btn-primary">Return to profile</a>
    </div>

  </div>
</div>
</div>


{% endblock %}