{% extends 'base.html' %}

{% block content %}

  {% include 'nav.html' %}
  
    <h1>All posts</h1>

    <form action="search/" method="get" class ="d-flex">
      <input name="q" type="text" placeholder="Search...">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    
    {% for post in posts %}
    <div class="card text-center">
      <div class="card-header">
        {{post.author}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">....</p>
        <a href="/blog/{{post.id}}" class="btn btn-primary">Read</a>
      </div>
      <div class="card-footer text-muted">
        {{post.created}}
      </div>
    </div>
      {% endfor %}

{% endblock %}