{% extends 'base.html' %}

{% block content %}

  {% include 'nav.html' %}
  
    <h1>All posts</h1>

    <form action="search/" method="get">
      <input name="q" type="text" placeholder="Search...">
    </form>
    
    {% for post in posts %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">
            {{post.created}}
          </p>
          <a href="/blog/{{forloop.counter}}" class="btn btn-primary">See details.</a>
        </div>
      </div>
      {% endfor %}

{% endblock %}