{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/blog">Posts</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/blog/about-us">About us</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for category in categories %}
            <a class="dropdown-item" href="#">{{category.name}}</a>
            {% endfor %}
            {% if user.is_superuser %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Manage categories</a></li>
            {% endif %}
          </ul>

        </li>

        {% if user.is_authenticated %}

        <li class="nav-item"><a class="nav-link" href="{% url 'user-profile' %}">Your profile</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>

        {% else %}

        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Log In</a></li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'signup' %}">Sign Up</a></li>

        {% endif %}

      </ul>
      {% if user.is_authenticated %}

        <span class="navbar-text">
        Hi {{ user.username }}!
        </span>
    
      {% else %}
        <span class="navbar-text">
          You are not logged in
        </span>
  
      {% endif %}

    </div>
  </div>
</nav>
  

  <div class="containter" style="text-align-last: center; margin-top: 2ch;">
    <div style="display: inline-block;">
        <h1 style="text-align:center;">All posts</h1>
    </div>
    <div style="display: inline-block;margin-left: 20px;">
      <form action="search/" method="get" class ="d-flex">
        <input name="q" type="text" placeholder="Search...">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-2 g-4" style="padding:3ch">

    {% for post in posts %}
    <div class="col">
    <div class="card" style = "padding: 2ch;">
        <img class="card-img" style="opacity: .45" src={{post.img}} class="card-img" alt="...">
        <div class="card-img-overlay text-center">
          <h5 class="card-title" style="padding:3ch;">{{post.title}}</h5>
          <p class="card-text">Author: {{post.author}}</p>
          <p class="card-text">...</p>
          <a href="/blog/{{post.id}}" class="btn btn-primary">Read</a>
        </div>
      <div class="card-footer text-muted">
        {{post.created}}
      </div>
    </div>
  </div>
      {% endfor %}
    </div>
{% endblock %}