{% extends 'base.html' %}

{% block content %}

{% include 'nav.html' %}


{% if results %}  

<div class="containter" style="text-align-last: center;">
  <div style="display: inline-block;">
      <h1 style="text-align:center;">Search results</h1>
  </div>
  <div style="display: inline-block;margin-left: 20px;">
    <a href="/blog/" class="btn btn-primary"> <- See all posts</a>
  </div>
</div>

{% for post in posts %}

<div class="container" style="padding: 2ch;">

    <div class="card text-center">
      <div class="card-header">
        {{post.author}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.body|slice:":50"}}...</p>
        <a href="/blog/{{post.id}}" class="btn btn-primary">Read</a>
      </div>
      <div class="card-footer text-muted">
        {{post.created}}
      </div>
    </div>
</div>
{% endfor %}

{% else %}

<div class="col d-flex justify-content-center" style="padding: 5ch;">
<div class="card text-center"  style="width: 18rem;">
  <div class="card-body">
    <div class="alert alert-danger" role="alert">
      No results.
    </div>
    <a href="/blog/" class="btn btn-primary"> <- See all posts</a>
  </div>
</div>
</div>

{% endif %}

{% endblock %}