{% extends 'base.html' %}

{% block content %}

{% include 'nav.html' %}

{% if results %}  

<div class="containter" style="text-align-last: center;">
  <div style="display: inline-block;">
      <h1 style="text-align:center;">Post details</h1>
  </div>
  <div style="display: inline-block;margin-left: 20px;">
    <a href="/blog/" class="btn btn-primary"> <- See all posts</a>
  </div>
</div>

<div class="container" style="padding: 2ch;">

    <div class="card text-center">
      <div class="card-header">
        {{post.author}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.body}}.</p>
      </div>
      <div class="card-footer text-muted">
        {{post.created}}
      </div>
    </div>

    {% else %}
        <p class="card-text">No results.</p>
    {% endif %}
  </div>

  {% endblock %}