{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/blog">Posts</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/blog/about-us">About us</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for category in categories %}
            <a class="dropdown-item" href="/blog/category/{{category.id}}">{{category.name}}</a>
            {% endfor %}
            {% if user.is_superuser %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/categories">Manage categories</a></li>
            {% endif %}
          </ul>

        </li>

        {% if user.is_authenticated %}

        <li class="nav-item"><a class="nav-link" href="{% url 'user-profile' %}">Your profile</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>

        {% else %}

        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Log In</a></li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'signup' %}">Sign Up</a></li>

        {% endif %}

      </ul>
      {% if user.is_authenticated %}

        <span class="navbar-text">
        Hi {{ user.username }}!
        </span>
    
      {% else %}
        <span class="navbar-text">
          You are not logged in
        </span>
  
      {% endif %}

    </div>
  </div>
</nav>
  

  {% if user.is_superuser %}
  
  <div class="containter" style="text-align-last: center; margin-top: 2ch;">
    <div style="display: inline-block;">
        <h1 style="text-align:center;">Manage categories</h1>
    </div>
    <div style="display: inline-block;margin-left: 20px;">
      <a href="/blog/" class="btn btn-primary"> <- Back to blog</a>
    </div>
    <div style="display: inline-block;margin-left: 20px;">
        <a href="/categories/add-category" class="btn btn-primary">Add new category</a>
      </div>
  </div>

  {% if categories %}
  <div class="row row-cols-1 row-cols-md-2 g-4" style="padding:3ch">

    {% for category in categories %}
    
    <div class="container" style="padding: 2ch;">

        <div class="card text-center">
          <div class="card-header">
            {{category.name}}
          </div>
          <div class="card-body">
            <p class="card-text">{{category.description}}</p>
          </div>
          <div class="card-footer text-muted">
            <a href="/categories/edit-category/{{category.id}}" class="btn btn-primary">Edit</a>
            <a href="/categories/delete/{{category.id}}" class="btn btn-primary" onclick="return confirm('Are you sure?')" >Delete</a>
          </div>
        </div>
      </div> 

      {% endfor %}
    </div>  

  {% else %}
  
  <div class="col d-flex justify-content-center" style="padding: 5ch;">
    <div class="card text-center"  style="width: 18rem;">
      <div class="card-body">
        <div class="alert alert-danger" role="alert">
          No categories.
        </div>
        <a href="/blog/" class="btn btn-primary"> <- Back to blog</a>
      </div>
    </div>
    </div>

  {% endif %}

  {% else %}

  <div class="col d-flex justify-content-center" style="padding: 5ch;">
    <div class="card text-center"  style="width: 18rem;">
      <div class="card-body">
        <div class="alert alert-danger" role="alert">
          You have no permission to see this page.
        </div>
        <a href="/blog/" class="btn btn-primary"> <- Back to blog.</a>
      </div>
    </div>
    </div>

  {% endif %}  
{% endblock %}